<div class="nav-bar">
  <div class="content-container">
    <div class="title">
      <h2>MAGEN</h2>
    </div>
    <div class="search">
      <input type="search" placeholder="search..." />
    </div>
    <div class="icons">
      <ul>
        <li>
          <a routerLink="login"
            routerLinkActive="menu-active"
            *ngIf="!authInfo.isLoggedIn()">Login</a>
        </li>
        <li>
          <a routerLink="register"
            routerLinkActive="menu-active"
            *ngIf="!authInfo.isLoggedIn()">Register</a>
        </li>
        <li>
          <a routerLink=""
            routerLinkActive="menu-active"
            *ngIf="authInfo.isLoggedIn()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>